
.assignment-1{
    position: relative;
    width: 1440px;
    height: 4043px;
}

nav{
    display: flex;
    width: 1140px;
    height: 151px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 50px 0px;
    flex: none;
    order: 0px;
    margin: auto;
}
/* nav-style */
.nav-title{
 font-size:34px ;
    font-weight: 900px;
    line-height: 150%;
    color: #4E47FF;
    text-align: left;
    align-items: center;
    gap: 10px;
    padding: 50px 0px 0px 50px;
}
.nav-button{
     font-size:16px ;
    font-weight: 700px;
    background-color: #4E47FF;
    border-radius: 10px;
    width: 132px;
    height: 48px;
    text-align: center;
    color:#FFFFFF;
}
.div-style{
    font-size:65px ;
    font-weight:700px;
    width:905px;
    height:152px;
    line-height: 76px;
    align-items: center;
    gap:37px;
    padding: 0px;
    text-align: center;
    margin-top: 168px;
    margin: 0px auto;

}
.div-button{
    width: auto 174px ;
    height:48px ;
    justify-content:center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    margin: 0px auto;

}
.stye-btn{
    padding:20px 610px;
}


header{
    background-image: url(../style/Assets/Hero-bg.png);
    width: 1440px;
    height: 698px;
}
/* section-style */
.section-main{
    color: rgb(37, 36, 50);
font-family: Raleway;
font-size: 42px;
font-weight: 700;
line-height: 49px;
letter-spacing: 0%;
text-align: left;
}
.section-description{
    color: rgba(37, 36, 50, 0.5);
font-family: Raleway;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.section-button{
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #4E47FF;
    font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
padding: 12px 36px 12px 36px;
}
.section-image{

}
.main-section{
    display: flex;
    margin: 50px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0px;
    gap: 220px;
    left: 141px;
    top: 814px;
    border: 2px solid white;

}
.section-top{
    width: 1140px;
height: 328px;
left: 141px;
top: 814px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
}
.section-image{
position: static;
width: 403px;
height: 328px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px;
border-radius: 10px;
}
.section-2{
width: 1140px;
height: 306px;
left: 141px;
top: 1258px;
margin-top: 200px;
border-radius: 24px;
background-color: #4E47FF1A;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px 80px 50px 80px;
}
.elemant-title{
width: 856px;
height: 45px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
padding: 0px auto;
font-size: 38px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0%;
text-align: center;
color: #252432;
margin: 40px 100px;
}
.center-1{
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 80px;
}
.about-items{
    display: flex;
    text-align: center;
    justify-content: space-around;

}
.about-title{
color: rgb(78, 71, 255);
font-family: Inter;
font-size: 80px;
font-weight: 700;
line-height: 0px;
letter-spacing: 0%;
text-align: left;
padding: 10px;
}
.item-decription{
    color: rgba(0, 0, 0, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 0px;
letter-spacing: 0%;
text-align: center;
}